rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    
    // Listing images: anyone can upload and read during onboarding and general browsing
    match /listings/{allPaths=**} {
      allow read, write: if true;
    }
    
    // Default fallback: require auth for anything else
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
